img.imgw {
    width: 100%;
    HEIGHT: 240PX;
    BORDER-RADIUS: 8px;
    BORDER: NONE;
}

.home-page {
  padding: 20px;
}

.exp {
    text-align: center;
    margin-bottom: 40px;
    MARGIN-TOP: 22px;
    color: black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex: 1 1 calc(50% - 40px); /* 50% width minus gap on larger screens */
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fbcdcd29;
  text-align: center;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #ff306a;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.card p {
  padding: 0 10px;
  font-size: 1em;
  color: #7f8c8d;
}
section {
    BACKGROUND: WHITE;
    BORDER-RADIUS: 24PX;
    PADDING: 22PX;
    MARGIN-TOP: 20px;
}

.card button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ff306a; /* Updated button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: red; /* Slightly darker shade for hover */
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
  .img.imgw {
    height: 170PX;
  }
}
